*{
	margin:0px;
}

header{
	text-align:center;
}

body{
	background:url('../img/background22.jpg') repeat-x #323232;
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	position:relative;
	background-size: cover; 
	-moz-background-size: 100% 100%;     /* Gecko 1.9.2 (Firefox 3.6) */
	-o-background-size: 100% 100%;        /* Opera 9.5 */
	-webkit-background-size: 100% 100%;   /* Safari 3.0 */
	background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) > CSS3 */
	font:15px Arial,sans-serif;
}

footer{
	height:22px;
	background:url('../img/solid_gray.jpg') repeat-x #d0d0d0;
	border:1px solid #fff;
	position:fixed;
	color:#777;
	text-shadow:1px 1px 0 #FFFFFF;
	bottom:0;
	left:0;
	width:100%;
}

h2{
	text-align: center;
}

h3{
	text-align: center;
}

FORM{
	text-align: center;
}

a:hover{
	border-bottom:1px dashed transparent;
}

.clear{
	clear:both;
}